@import "./text-styles.scss";
$pal-panel-button-color: rgba(107, 115, 154, 0.1);

.dg-app{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  .sidenav-container{
    position: absolute;
    top:64px;
    bottom: 0;
    width: 100%;
    .content-container{
      display: flex;
      height: 100%;
      .view-container{
        flex: 1 0;
      }
      .friend-button-container{
        height: 100%;
        width: 30px;
        transition: background-color 0.3s ease;
        // border-left: 1px solid rgba(0,0,0,0.1);
        background-color: $pal-panel-button-color;

        &:hover{
          cursor: pointer;
          background-color: lighten($pal-panel-button-color, 10%);
        }
        user-select: none;
        &.sidenav-open{
          md-icon{
            transform: rotate(180deg);
          }
        }
        md-icon{
          opacity: 0.3;
          transform-origin: 26px 39px;
          transition: transform 0.2s;
          position: absolute;
          top:38%;
          transform: translateX(-20px);
          $chevron-icon-height: 70px;
          font-size: 70px;

        }
      }
    }
  }
}
