.dg-feed-item{
  margin: 5px 0;
  margin-bottom: 30px;
  md-card{
    background-color: rgba(#eeec6c, 0.1);
    &.mat-card{
      padding: 18px;
    }
  }
  .header-text{
    display: inline;
    padding-left: 18px;
  }
  .status-container{
    padding-top:10px;
    padding-bottom: 0;
    padding-left: 32px;
  }
  .quote-icon-container{
    padding-right: 8px;
  }
  .reaction-container{
    width: 100%;
  }
}
